spring:
  datasource:
    primary:
      url: jdbc:mysql://localhost:3306/spring_study?useSSL=false
      username: root
      password: 123456
      driver-class-name: com.mysql.jdbc.Driver
    secondary:
      url: jdbc:mysql://localhost:3306/spring_study2?useSSL=false
      username: root
      password: 123456
      driver-class-name: com.mysql.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQL5Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        show-sql: true
        format-sql: true
        use-sql-comments: true
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML5
    cache: false

server:
  port: 8080


